
p.big {
	font-size: 20px;
	color: orange;
	font-style: oblique;
}

p.small {
	font-style: italic;
	font-size: 30px;
	text-align: center;
	color: purple;
}


article > p {
	color: blue;
	font-size: 40px;
}



article p {
	color: yellowgreen;
}



.colord p {
	color: yellow;
	text-align: right;
}


article > .colored {
	color: beige;
}

